<html>

<body bgcolor=#d4a3ae>

    <center>

        <h1> IRIS FLOWER DETECTION </h1><br>

        <form method="POST" , action="{{url_for('after')}}">
            <b> First value : <input type="text" name="Age" id="Age"> <br><br>
                Second value : <input type="text" name="Gender" id="Gender"> <br><br>
                Third value : <input type="text" name="Stream" id="Stream"> <br><br>
                Fourth value : <input type="text" name="Internships" id="Internships"> <br><br>
                Fifth value : <input type="text" name="CGPA" id="CGPA">
                Sixth value : <input type="text" name="Back Logs" id="Back Logs">
                Seventh Value : <input type="text" name="Attendence" id="Attendence">
                EIght Value : <input type="text" name="Hostel" id="Hostel"><br></b>
            <input type="submit" , value='predict!'>
        </form>



    </center>

</body>

</html>